.paintingItem {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 2rem;


}

  .paintingItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  }
  
  .imageWrapper {
    position: relative; 
    width: 100%;
    overflow: hidden;
    min-height: 3rem;
  }
  
  .overlay {
    position: absolute;
    bottom: 0px; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  .paintingImage {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    object-fit: cover;
    min-height: 8rem;
  }
  
  
  .paintingItem:hover .paintingImage {
    transform: scale(1.1);
  }
  
  .paintingContent {
    padding: 20px;
    text-align: center;
  }
  
  .paintingTitle {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;

  }
  
  .paintingAuthor {
    font-size: 1rem;
    margin: 0;

  }
  

  .paysage {
    width: 100%;
  }
  
  .portrait {
    width: 30%;


  }
  
  
@media (max-width: 768px) {
  .portrait {
    width: 100%;
  }
  .overlay {

    padding: 1px 2px;
    border-radius: 5px;
    width: 100%;
  }


}