.ImageContenaires {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4rem;
    justify-content: center;
}


.PaintingContainer {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
}


.ImagePaint {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}


.InfoContainer {
    padding: 10px;
    text-align: center;
}


.LandscapeContainer {
    width: 98%;
}

@media (max-width: 768px) {
    .PaintingContainer {
        width: 100%;
    }

    .ImageContenaires {
        padding: 2rem;
    }
}