.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .searchInput {
    width: 50%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  }
  
  .searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .searchButton:hover {
    background-color: #0056b3;
  }
  
  /* Ajustements pour la responsivité */
  @media (max-width: 600px) {
    .searchContainer {
      flex-direction: column;
    }
  
    .searchInput,
    .searchButton {
      width: 90%;
      max-width: none;
      margin: 5px 0;
    }
  
    .searchButton {
      margin-left: 0;
      width: 100%;
    }
  }