
.Imagepaint {
    height: auto; 
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;

}
.ImageContenaire {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 48%; 
    background: white;
    color:black
  }
